{{#projJson}}
    <div class=
    "project-div"
    id="{{directory}}">
        <a href="/{{directory}}/description/"
            class="link-name" target="_blank">
            <h4>{{name}}</h4>
        </a>
        <div class="img-div">
            {{!-- change the href below to the heroku link --}}
            <a href="/{{directory}}/description/" target="_blank"><img class='img-home' src='/{{directory}}/projPic.png'>
            </a>
        </div>
    </div>
{{/projJson}}

