{{#projJson}}
    <div class=
    "project-div"
    id="{{directory}}">
        <div class="img-div">
            <a href="{{url}}" target="_blank">
                <img class='project-img' src='/{{directory}}/projPic.png'>
            </a>
        </div>
        {{!-- <div class="project-name-div"> --}}
        <p class="project-name">{{name}}</p>
        <img class="proj-info-png" src="/img/info.png" />
        {{!-- </div> --}}

        <div class="project-info">

        
            <p class="proj-desc">{{description}}</p>

            <div class="tech-div">{{#each tech}} <span class="tech">{{this}}</span> {{/each}}</div>

            {{!-- <div class="features-div-container">
                <span class="features-title">Features</span> 
                <div class="features-div">
                    {{#each features}} <li>{{this}}</li> {{/each}}

                </div>
            </div> --}}
        </div>
    </div>
{{/projJson}}

{{!-- before turning projects-div into grid layout --}}
{{!-- {{#projJson}}
    <div class=
    "project-div"
    id="{{directory}}">
        <div class="project-info">
            <h4>{{name}}</h4>
            <p class="proj-desc">{{description}}</p>
            <div class="features-div-container">
                <span class="features-title">Features</span> 
                <div class="features-div">
                {{#each features}} <li>{{this}}</li> {{/each}}

                </div>
            </div>
            <div class="tech-div">{{#each tech}} <span class="tech">{{this}}</span> {{/each}}</div>
        </div>
        <div class="img-div">
            <a href="{{url}}" target="_blank">
                <img class='project-img' src='/{{directory}}/projPic.png'>
            </a>
        </div>
    </div>
{{/projJson}} --}}





{{!-- before making features into a list --}}
{{!-- {{#projJson}}
    <div class=
    "project-div"
    id="{{directory}}">
        <div class="project-info">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <p>Features: {{features}}</p>
            <div class="tech-div">{{#each tech}} <span class="tech">{{this}}</span> {{/each}}</div>
        </div>
        <div class="img-div">
            <a href="{{url}}" target="_blank">
                <img class='project-image' src='/{{directory}}/projPic.png'>
            </a>
        </div>
    </div>
{{/projJson}} --}}

