<div class='desc-bigContainer'>
    <div id='left-col'>
        <p id="left-head">My Projects</p>
        <div id="desc-container">
            {{> list desc=true}}
        </div>
    </div>
    <div id='right-col'>
        <p id="right-head"><span>{{selectedProject.name}}</span></p>
        <a href="/{{selectedProject.directory}}/">
            <div id="desc-img-cont">
                <img id='picture' src='/{{selectedProject.directory}}/projPic.png'></a>
            </div>
            <div id="dec-text">
                <p>{{selectedProject.description}}</p>
                <a href="/{{selectedProject.directory}}/">
                    <p>Go to Project</p>
                </a>
                <a href="/">
                    <p>Back to Homepage</p>
                </a>
                
            </div>
        
    </div>
</div>